
**/test_package/build
**/project*/build
!*/build.sh
.vscode/
venv

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
__pycache__/*
test_package/__pycache__/*
test_package/build/*
build/*
*.pyc
tmp/
features/package_development_flow/test_package/build/*
features/workspace/build/*
libraries/protobuf/serialization/build/*
libraries/folly/basic/build/*
libraries/poco/md5/build/*

# IDE
.idea/*
.project
.pydevproject
.settings/*
.ropeproject/*

.tox
