matrix:
  include:
    - os: linux
      dist: xenial
      language: python
      python: "3.7"
    - os: osx
      language: generic
      before_script:
        - eval "$(pyenv init -)"
        - pyenv activate conan

install:
  - .ci/travis/install.sh
script:
  - python .ci/run.py
