build: false

environment:
    PYTHON: "C:\\Python37"

    matrix:
        # Conan Workspaces
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
          PROJECT_DIR: features/workspace/cmake
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
          PROJECT_DIR: features/workspace/cmake
        # Serializing your data with Protobuf
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
          PROJECT_DIR: libraries/protobuf/serialization
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
          PROJECT_DIR: libraries/protobuf/serialization
        # Using Facebook Folly with Conan
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
          PROJECT_DIR: libraries/folly/basic
        # Using Conan with find_package and exported targets
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
          PROJECT_DIR: features/cmake/find_package/exported_targets_multiconfig
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CMAKE_GENERATOR: "Visual Studio 15 2017 Win64"
          PROJECT_DIR: features/cmake/find_package/find_cmake_multi_generator_targets

install:
  - set PATH=%PYTHON%;%PYTHON%/Scripts/;%PATH%
  - pip.exe install conan --upgrade
  - conan user

test_script:
  - cd %PROJECT_DIR%
  - build.bat
